<div>
    <span>Header works! </span>
    <a routerLink="">To Landing Page</a>
    <a routerLink="home">To Home Page</a>
    <div *ngIf="auth.userData; then loggedIn else guest"></div>
    <ng-template #loggedIn>
        <a routerLink="home">To Home Page</a> 
        <a routerLink="profile">profile</a>
        <button class="btn" (click)="auth.doSignOut()">Logout</button>
    </ng-template>
    <ng-template #guest>
        <button class="btn" routerLink="login">Login</button>
        <button class="btn" routerLink="register">Register</button>
    </ng-template>
</div>