<form #f="ngForm" class="form" (ngSubmit)="tryRegister(f)">
    <div class="form-group">
        <label for="userEmail">Register Email: </label>
        <input ngModel class="form-control" type="email" name="userEmail" id="userEmail" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="userPass">Password: </label>
        <input ngModel class="form-control" type="password" name="userPass" id="userPass" placeholder="Password" required>
    </div>
    <div class="form-group">
            <label for="userRole">Role: </label>
            <input ngModel class="form-control" type="text" name="userRole" id="userRole" placeholder="Admin/Subscriber" required>
        </div>
    <button type="submit" class="btn btn-success pull-right">Register</button>
</form>