<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div *ngIf="auth.getRole() === 'Admin'; then Admin else noAdmin"></div>
                <ng-template #Admin>
                <div class="row">
                    <div class="col s5">
                        <form #careForm="ngForm" (ngSubmit)="onSubmit(careForm)">
                            <input type="hidden" name="_id" #name="ngModel" [(ngModel)]="careService.selectedCare._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="name" required #name="ngModel"
                                        [(ngModel)]="careService.selectedCare.name" placeholder="Enter care name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="quantity" #name="ngModel"
                                        [(ngModel)]="careService.selectedCare.quantity" placeholder="Enter Quantity">
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="description" #name="ngModel"
                                        [(ngModel)]="careService.selectedCare.description"
                                        placeholder="Enter description ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button"
                                        (click)="resetForm(careForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit"
                                        [disabled]="!careForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s7">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr *ngFor="let care of careService.cares">
                                <td>{{care.name}}</td>
                                <td>{{care.quantity}}</td>
                                <td>{{care.description}}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(care)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(care._id,careForm)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </ng-template>
                <div *ngIf="auth.getRole() === 'Subscriber'; then subscriber else noSub"></div>
                <ng-template #subscriber>
                        <div class="row">
                        <div class="col s7">
                                <table class="responsive-table highlight">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let care of careService.cares">
                                        <td>{{care.name}}</td>
                                        <td>{{care.quantity}}</td>
                                        <td>{{care.description}}</td>
                                        <td>
                                            <button style="color:black">Subscibe</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                            </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>