<h2>Orders to Process</h2>

<ul class = "orders">
    <li *ngFor="let order of orders"(click)="onSelect(order)"
        [class.selected]="order === selectedOrder"
        (click)="onSelect(order)">
        <span class = "badge">{{order.id}} </span>{{order.name}}
    </li>
</ul>

<div *ngIf="selectedOrder">
    <h2>{{selectedOrder.name | uppercase}} Details</h2>
    <div><span>Wath ever Details from order : </span>{{selectedOrder.id}}</div>
    <div>
        <label>
            <input [(ngModel)] = "orders.name" placeholder="name"/>
        </label>
    </div>
    
</div>







