<div *ngIf="auth.userData | async; then loggedIn else guest"></div>
<ng-template #loggedIn>
    <div>
        <div *ngIf="auth.userData as user">
            <span>
                Loggin in with
            </span>
            <ul>
                <li>{{user.displayName}}</li>
                <li>{{user.email}}</li>
                <li>{{user.uid}}</li>
            </ul>
        </div>
        
    </div>
</ng-template>
<ng-template #guest>
    <div>
        <br>
        <p>Landing works! Here are some shortcuts to components under development</p>
        <ul>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="register">Register</a></li>
        </ul>
    </div>
</ng-template>