<div>
        <div class="wrapper fadeInDown"  >
                <div id="formContent">
                    <div *ngIf="auth.userData; then loggedIn else guest"></div>
<ng-template #loggedIn>
    <div *ngIf="auth.userData as user">
        <span>
            Loggin in with
        </span>
        <ul>
            <li>{{user.role}}</li>
            <li>{{user.email}}</li>
            <li>{{user.uid}}</li>
        </ul>
    </div>
</ng-template>
<ng-template #guest>
    <div>
        <br>
        <p>Landing works!</p>
        

        <p>This application is currently in the development phase. Maybe we should credit the collaborators here<br>
        and add an about page.</p>
    </div>
</ng-template>
<div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
     </div>
     </div>
    
    </div>