
    <div *ngIf="errorMessage.length > 0; then showError else noError"></div>
    <ng-template #showError>
        <span style="color: red;">Invalid Login!</span>
    </ng-template>

    <div *ngIf="successMessage.length > 0; then showMsg else noMsg"></div>
    <ng-template #showMsg>
        <span style="color: green;">Login successful!</span>
    </ng-template>
    <form #f="ngForm" class="form" (ngSubmit)="tryLogin(f)">
        <div class="form-group">
            <label for="userEmail">Login Email: </label>
            <input ngModel class="form-control" type="email" name="userEmail" id="userEmail" placeholder="Email"
                required>
        </div>
        <div class="form-group">
            <label for="userPass">Password: </label>
            <input ngModel class="form-control" type="password" name="userPass" id="userPass" placeholder="Password"
                required>
        </div>
        <button type="submit" class="btn btn-success pull-right">Login</button>
    </form>
