<title>Profile Page</title>

<div class="container">
	<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 2px;">
          <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <figure>
                <img src="" alt="" class="img-circle" style="width:75px;" id="user-img">
              </figure>
              <h5 style="text-align:center;"><strong id="user-name">{{profile.name}}</strong></h5>
             <label style="text-align:center;font-size: smaller;overflow-wrap: break-word;" for="user-email">Email</label>
              <p style="text-align:center;font-size: smaller;overflow-wrap: break-word;" id="user-email">{{profile.email}} </p>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center">
                <label> Family Members </label>
                <li *ngFor="let Family of profile.familyMembers">
                  {{ Family | json}} 
                </li>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center">
                <label>Care Packages</label>
                <li *ngFor="let cp of profile.carePackage">
                    {{ cp | json}} 
                </li>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center">
                <label>Food Packages</label>
                <li *ngFor="let fp of profile.foodPackage">
                    {{ fp | json}} 
                </li>
              </div> 
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>